{% extends "templates/web.html" %}
<!-- no-breadcrumbs -->
{% block header %}

<h1>{{ title }}</h1>{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-8">
		<div class="input-group input-group-sm mb-3">
			<input type="search" class="form-control" placeholder="{{_('Search')}}"
				aria-label="{{_('Product Search')}}" aria-describedby="product-search"
				value="{{ frappe.form_dict.search or '' }}"
			>
		</div>
	</div>
</div>
<div class="item-group-content" itemscope itemtype="http://schema.org/Product">
	<div>
		{% if slideshow %}<!-- slideshow -->
		{% include "templates/includes/slideshow.html" %}
		{% endif %}
		{% if description %}<!-- description -->
		<div itemprop="description">{{ description or ""}}</div>
		{% endif %}
	</div>
	<div>
		{% if items %}
		<div id="search-list" {% if not products_as_list -%} class="row" {%- endif %}>
			{% for i in range(0, page_length) %}
				{% if items[i] %}
					{{ items[i] }}
				{% endif %}
			{% endfor %}
		</div>
		<div class="text-center item-group-nav-buttons">
			{% if frappe.form_dict.start|int > 0 %}
			<a class="btn btn-default" href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}">{{ _("Prev") }}</a>
			{% endif %}
			{% if items|length > page_length %}
			<a class="btn btn-default" href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length }}">{{ _("Next") }}</a>
			{% endif %}
		</div>
		{% else %}
			<div class="text-muted">{{ _("No items listed") }}.</div>
		{% endif %}
	</div>
</div>
{% endblock %}